<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Automatic Fallout Management</h1>
		</div>
		<p class="text-default">Automation can help to reduce the impact of fallouts by preventing fallouts from occurring and by resolving occurred fallouts. This web interface will provide the necessary means to view and manage fallouts and additional information supplied by the automated system.</p><br/><br/>
	</div>
</div>
<div class="row text-center">
	<div class="col-sm-6">
		<a href="#fallouts">
			<p><span class="glyphicon glyphicon-search glyphicon-big"></span></p>
			<h2>Detected Fallouts</h2>
			<p class="text-default">Manage and view fallouts picked up by the AFOM system.</p>
		</a>
	</div>
	<div class="col-sm-6">
		<a href="#resolutions">
			<p><span class="glyphicon glyphicon-ok glyphicon-big"></span></p>
			<h2>Fallout Resolutions</h2>
			<p class="text-default">Manage and view resolutions orchestrated by the AFOM system.</p>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Summary</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-2 col-sm-offset-3">
		<p class="infoarea-numbers text-center">{{ falloutCount }}</p>
		<p class="infoarea-title text-center">total fallouts detected</p>
	</div>
	<div class="col-sm-2">
		<p class="infoarea-numbers text-center">{{ resolutionCount }}</p>
		<p class="infoarea-title text-center">total resolutions orchestrated</p>
	</div>
	<div class="col-sm-2">
		<p class="infoarea-numbers text-center">{{ retrySuccessRate | number : 0 }}%</p>
		<p class="infoarea-title text-center">retry success rate</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Statistics</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
	<h2>Daily Activity Frequency</h2>
		<p>Frequency bar graph showing when fallouts and resolutions are detected throughout the day</p>
	</div>
	<div class="col-sm-8">
		<canvas id="freq_graph" class="chart chart-bar" data-chart-data="freqData" data-chart-labels="freqLabels" data-chart-series="freqSeries"></canvas>
	</div>
</div>
