<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Detected Fallouts</h1>
		</div>
		<p>This is a list of all fallouts detected by the AFOM system. Click on a table entry for more info.</p><br/><br/>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			<label for="falloutid">Filter ID:</label>
			<input type="text" class="form-control" id="falloutid" data-ng-model="fallout.id" placeholder="AFOM#####" />
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<label for="fallouterrorcode">Filter Error Code:</label>
			<input type="text" class="form-control" id="fallouterrorcode" data-ng-model="fallout.errorcode" placeholder="ERROR####" />
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<label for="selectsource">Filter Source:</label>
			<select class="form-control" id="selectsource">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<label for="selectstatus">Filter Status:</label>
			<select class="form-control" id="selectstatus">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
		</div>
	</div>
</div>