<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Automatic Fallout Management</h1>
		</div>
		<p class="text-default">Automation can help to reduce the impact of fallouts by preventing fallouts from occurring and by resolving occurred fallouts. This web interface will provide the necessary means to view and manage fallouts and additional information supplied by the automated system.</p><br/><br/>
	</div>
</div>
<div class="row text-center">
	<div class="col-sm-6 col-md-4">
		<a href="#">
			<p><span class="glyphicon glyphicon-search glyphicon-big"></span></p>
			<h2>Detected Fallouts</h2>
			<p class="text-default">Manage and view fallouts picked up by the AFOM system.</p>
		</a>
	</div>
	<div class="col-sm-6 col-md-4">
		<a href="#">
			<p><span class="glyphicon glyphicon-ok glyphicon-big"></span></p>
			<h2>Fallout Resolutions</h2>
			<p class="text-default">Manage and view resolutions orchestrated by the AFOM system.</p>
		</a>
	</div>
	<div class="col-sm-6 col-md-4">
		<a href="#">
			<p><span class="glyphicon glyphicon-stats glyphicon-big"></span></p>
			<h2>Statistics</h2>
			<p class="text-default">View statistics and other data relating to the AFOM system.</p>
		</a>
	</div>
</div>