<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Statistics</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
	<h2>Daily Activity Frequency</h2>
		<p>Frequency bar graph showing when fallouts and resolutions are detected throughout the day</p>
	</div>
	<div class="col-sm-8">
		<canvas id="freq" class="chart chart-bar" chart-data="freqData" chart-labels="freqLabels" chart-series="freqSeries"></canvas>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<!-- Detected -->
	</div>
	<div class="col-sm-6">
		<!-- Resolved -->
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<!-- Fallout Frequency Graph -->
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<!-- Pie Chart -->
	</div>
</div>